.line {
  background-color: green;
  height: 1em;
  width: 75%;
}

.bg-img {
  background-image: url("https://images.pexels.com/photos/161702/harmony-relax-rock-moqui-161702.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color: #cccccc;
  height: 1000px;
  background-position: center;
}

.bg-card {
  background-color: transparent;
}
.text {
  color: lavender;
  text-shadow: 3px 3px 20px blue;
}
